<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}">
    <title>Title</title>
</head>
<body>
<main >
    <div class="container">
        <br><br><br>
        <div class="row">
            <div class="col-lg-2">&nbsp;
            </div>
            <div class="col-lg-8 text-center">
              <H1>Error 404</H1>
            </div>
            <div class="col-lg-2">&nbsp;</div>
        </div>
    </div>
</main>
</body>
</html>